* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 2000px;
}

nav {
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 16px 8px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #323232;
    font-size: 15px;
    padding: 24px;
}

nav ul li a:hover {
    background: dodgerblue;
    color: white;
}

nav button {
    padding: 16px 32px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background: deeppink;
    color: white;
}

nav h1 {
    font-family: sans-serif;
    font-size: 32px;
}

#header {
    height: 600px;
    background: linear-gradient( 86.9deg,  rgba(253,189,38,1) 28.3%, rgba(253,109,38,1) 118.2% );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#heading {
    font-family: sans-serif;
    font-size: 120px;
    padding: 0;
    margin: 0;
    animation: fade 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

p {
    font-family: sans-serif;
    font-size: 32px;
    margin-top: 10px;
    animation: fade 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}

#visit {
    border: none;
    background: deepskyblue;
    padding: 16px 48px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    animation: fade 1s forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

img {
    position: relative;
    animation: slide-right 0.5s;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hide 0.5s forwards;
    animation-delay: 4.5s;
}

#circle {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle h1 {
    font-family: sans-serif;
    font-size: 180px;
    position: absolute;
    opacity: 0;
}

#one {
    animation: show 1s;
}

#two {
    animation: show 1s;
    animation-delay: 1s;
}

#three {
    animation: show 1s;
    animation-delay: 2s;
}

#four {
    animation: show 1s;
    animation-delay: 3s;
}

#five {
    animation: show 1s;
    animation-delay: 4s;
}

@keyframes slide-right {
    from {right: -600px;}
    to {right: 0;}
}

@keyframes fade{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {
        opacity: 0;
        display: none;
    }
}